
WarframeTracker/bin/Debug/net5.0-windows/WarframeTracker.dll
WarframeTracker/bin/Debug/net5.0-windows/WarframeTracker.pdb
WarframeTracker/obj/Debug/net5.0-windows/WarframeTracker.dll
WarframeTracker/obj/Debug/net5.0-windows/WarframeTracker.pdb
WarframeTracker/bin/Debug/net5.0-windows/data/log.txt
WarframeTracker/bin/Debug/net5.0-windows/data/log.txt
WarframeTracker/bin/Debug/net5.0-windows/data/log.txt
WarframeTracker/bin/Debug/net5.0-windows/ref/WarframeTracker.dll
WarframeTracker/bin/Debug/net5.0-windows/WarframeTracker.dll
WarframeTracker/bin/Debug/net5.0-windows/WarframeTracker.pdb
WarframeTracker/obj/Debug/net5.0-windows/ref/WarframeTracker.dll
WarframeTracker/obj/Debug/net5.0-windows/WarframeTracker.dll
WarframeTracker/obj/Debug/net5.0-windows/WarframeTracker.csproj.GenerateResource.cache
WarframeTracker/obj/Debug/net5.0-windows/WarframeTracker.pdb