
WarframeTracker/bin/Debug/net5.0-windows/WarframeTracker.dll
WarframeTracker/bin/Debug/net5.0-windows/WarframeTracker.pdb
WarframeTracker/obj/Debug/net5.0-windows/WarframeTracker.dll
WarframeTracker/obj/Debug/net5.0-windows/WarframeTracker.pdb
WarframeTracker/bin/Debug/net5.0-windows/data/log.txt
*.dll
WarframeTracker/bin/Debug/net5.0-windows/data/log.txt
*.txt
